@page
@model SaharBeautyWeb.Pages.UserPanels.Admin.Users.IndexModel
@{
    Layout = "_UserPanelLayout";
    var model = Model.AllUsersModel;
}
<link href="~/layout/admin/assets/css/pages/admin-users/users.css" rel="stylesheet" />

@if (model != null)
{
    <div class="users-container">
        <div class="users-header">
            <h2>مدیریت کاربران</h2>
            <form id="search-form" method="get">
                <input type="text" name="Search" id="user-search"
                       placeholder="جست‌وجو بر اساس شماره موبایل..."
                       value="@Model.Search" />
                <button type="submit" hidden></button>
            </form>
        </div>
        <div class="users-grid" id="users-grid" >
            @foreach (var item in Model.AllUsersModel.AllUsers)
            {
                <div class="user-card" data-user-id="@item.Id">
                    <div class="user-avatar">

                        @if (item.Avatar != null)
                        {
                            <img src="@item.Avatar.Url" alt="avatar">
                        }
                        else
                        {
                            <img src="~/layout/admin/assets/images/users/avatar-1.png" alt="avatar">
                        }
                    </div>

                    <div class="user-info">
                        <h3 class="user-name">@($"{item.Name} {item.LastName}")</h3>
                        <p><i class="lucide lucide-at-sign"></i>@item.UserName</p>
                        <p><i class="lucide lucide-phone"></i> @item.Mobile</p>
                        <p><i class="lucide lucide-mail"></i> @item.Email</p>
                    </div>
                    <div class="user-meta">
                        @foreach (var role in item.Roles)
                        {
                            <p><i class="lucide lucide-shield"></i> @role</p>
                        }
                        <p><i class="lucide lucide-calendar"></i> @item.CreatedAt</p>
                    </div>
                    <div class="user-footer">
                        <label class="switch">
                            <input type="checkbox" @(item.Active ? "checked" : "")  class="toggle-switch" id="change-user-active">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            }
        </div>

        <div class="pagination-container mt-4 d-flex justify-content-center align-items-center gap-2 flex-wrap">
            <a class="page-btn btn btn-outline-primary @(model.CurrentPage == 0 ? "disabled" : "")"
               asp-page="Index"
               asp-route-pageNumber="@(model.CurrentPage - 1)"
               asp-route-Search="@Model.Search">
                قبلی
            </a>

            <span class="current-page btn btn-primary disabled">
                @(model.CurrentPage)
            </span>

            <a class="page-btn btn btn-outline-primary @(model.CurrentPage == model.TotalPages ? "disabled" : "")"
               asp-page="Index"
               asp-route-pageNumber="@(model.CurrentPage + 1)"
               asp-route-Search="@Model.Search">
                بعدی
            </a>
        </div>
    </div>
    
    @section Scripts {

        <script>
            var changeUserActivate = '@Url.Page("Index","ChangeUserActivate")';

        </script>
    <script src="~/layout/admin/assets/js/pages/userpanels/admin/users/users.js"></script>


    }
}



