@using SaharBeautyWeb.Models.Entities.WhyUsSections.Models
@model WhyUsSectionModel
<link href="~/layout/admin/assets/css/pages/whyussections/whyuspartialstyle.css" rel="stylesheet" />
<div class="whyus-section-card card shadow-sm border-0 mb-4">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0 fw-bold text-primary">چرا ما</h5>
        <button class="btn btn-outline-primary btn-sm edit-why-us-section-btn" data-id="@Model.Id">
            <i class="bx bx-edit-alt"></i> ویرایش
        </button>
    </div>

    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="mb-3">
                    <h6 class="fw-semibold text-secondary">عنوان:</h6>
                    <p class="text-dark fs-6 mb-0">@Model.Title</p>
                </div>

                <div class="mb-3">
                    <h6 class="fw-semibold text-secondary">توضیحات:</h6>
                    <p class="text-muted fs-6" style="white-space: normal; overflow-wrap:anywhere;">
                        @Model.Description
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 text-center mt-3 mt-lg-0">
                <img src="@Model.Media!.Url"
                     alt="@Model.Media.ImageName"
                     class="whyus-section-img img-fluid rounded shadow-sm">
            </div>
        </div>
    </div>
</div>
