@page
@model SaharBeautyWeb.Pages.UserPanels.Admin.SiteSettings.WhyUsSections.IndexModel
@{
    Layout = "_UserPanelLayout";
}

@if (Model.ModelData.Title != null)
{
    @await Html.PartialAsync("_whyUsSectionPartial", Model.ModelData)
}
else
{

    <partial name="_AddWhyUsSectionPartial" model="Model.ModelData" />
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">چرا ما بهترینیم</h6>
                <div class="row">
                    <div class="col-sm">
                        <div class="mb-4">
                            <button type="button"
                                    class="btn btn-primary waves-effect waves-light add-why-us-question-btn"
                                    data-id="@Model.ModelData.Id">
                                <i class="bx bx-plus me-1">
                                </i>افزودن پرسش و پاسخ
                            </button>
                        </div>
                    </div>

                </div>
                @for (int i = 0; i < Model.ModelData.QuestionModels.Count; i++)
                {
                    var question = Model.ModelData.QuestionModels[i];
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading@(i)">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse@(i)"
                                    aria-expanded="false"
                                    aria-controls="collapse@(i)">
                                @question.Question
                            </button>
                        </h2>
                        <div id="collapse@(i)" class="accordion-collapse collapse"
                             aria-labelledby="heading@(i)" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">
                                <p>@question.Answer</p>

                                <!-- دکمه حذف -->
                                <button type="button"
                                        class="btn btn-danger btn-sm delete-question-btn mt-2"
                                        data-id="@question.Id">
                                    <i class="bx bx-trash"></i> حذف
                                </button>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(() => {
            setUpImagePreview("#input-why-us-section-image", "#preview-add-image-why-us-section");
            $(document).on("click", "#createWhyUsSection", function (e) {
                e.preventDefault();
                var send = $(this);
                var titleInput = $("#why-us-section-title")[0];
                var descriptionInput = $("#why-us-description")[0];
                var imageInput = $("#input-why-us-section-image")[0];
                let hasError;
                if (!titleInput.value.trim()) {
                    markInputError(titleInput);
                    hasError = true;
                }
                if (!descriptionInput.value.trim()) {
                    markInputError(descriptionInput);
                    hasError = true;

                }
                if (!(imageInput.files[0])) {
                    markInputError(imageInput);
                    hassError = true;
                }
                if (hasError) return;
                var form = $("#add-why-us-section-form")[0];
                var formData = new FormData(form);
                $.ajax({
                    url: '@Url.Page("Index", "CreateWhyUsSection")',
                    type: 'Post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        send.prop("disabled", true);
                    },
                    success: function (res) {
                        if (res.success) {
                            location.reload();
                        } else {
                            handleApiError(res.error);
                            send.prop("disabled", false);
                            return;
                        }
                    },
                    error: function (err) {
                        handleApiError(err);
                        send.prop("disabled", false);
                    }

                });

            })

            $(document).on("click", ".add-why-us-question-btn", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                console.log(id);
                $.ajax({
                    url: '@Url.Page("Index", "AddWhyUsQuestionPartial")',
                    type: 'Get',
                    data: { id: id },
                    success: function (html) {
                        $("#staticBackdrop .modal-body").html(html);
                        var modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
                        modal.show();
                    },
                    error: function () {
                        showPopup("خطایی پیش امده")
                    }

                })
            });

            $(document).on("click", "#add-why-us-question", function (e) {
                e.preventDefault();
                var sendBtn = $(this);
                var question = $("#why-us-question")[0];
                var answer = $("#why-us-question-answer")[0];
                var hasError;
                if (!question.value.trim()) {
                    markInputError(question);
                    hasError = true;
                }
                if (!answer.value.trim()) {
                    markInputError(answer);
                    hasError = true;
                }
                if (hasError) return;
                var form = $("#add-why-us-question-form")[0];
                var formData = new FormData(form);
                $.ajax({
                    url: '@Url.Page("Index", "AddQuestions")',
                    type: 'Post',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        sendBtn.prop("disabled", true);
                    },
                    success: function (res) {
                        if (res.success) {
                            location.reload();
                        } else {
                            handleApiError(res.error);
                        }
                    },
                    error: function () {
                        showPopup("خطایی پیش امده")
                        location.reload();
                    }
                });
            })


            $(document).on("click", ".delete-question-btn", function (e) {
                e.preventDefault();
                var removeBtn = $(this);
                var id = removeBtn.data("id");

                var token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: '@Url.Page("Index", "DeleteQuestion")',
                    type: 'Post',
                    data: { 
                        id: id ,
                        __RequestVerificationToken: token
                    },
                    beforeSend: function () {
                        removeBtn.prop("disabled", true);
                    },
                    success: function (res) {
                        if (res.success) {
                            location.reload();
                        } else {
                            handleApiError(res.error);
                            removeBtn.prop("disabled", false);
                        }
                    }, error: function () {
                        showPopup("خطای پیش آمده");
                        removeBtn.prop("disabled", false);
                    }
                });
            });
        });

    </script>

}