@page "{handler?}"
@using SaharBeautyWeb.Models.Entities.Banners
@model SaharBeautyWeb.Pages.UserPanels.Admin.SiteSettings.Banners.IndexModel
@{
    Layout = "_UserPanelLayout";
    var a = Model;
}


@if (!Model.Banner?.IsSuccess ?? false)
{
    <input style="display:none" id="error" value="@Model.Banner?.Error?? $" {خطایی پیش امده }" />

}
@if (Model.Banner?.IsSuccess == true && Model.Banner?.URL != null)
{
    <div class="d-flex align-items-start">
        <div class="flex-grow-1 overflow-hidden">
            <h5 class="font-size-14 text-truncate">
                <a href="#" class="text-dark">@Model.Banner.Title</a>
            </h5>
            <p class="font-size-13 text-muted mb-0">@Model.Banner.CreateDate</p>
        </div>
        <div class="flex-shrink-0 ms-2">
            <div class="dropdown">
                <a class="btn btn-link text-muted font-size-16 p-1 py-0 dropdown-toggle shadow-none"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="bx bx-dots-horizontal-rounded">

                    </i>
                </a>
            </div>
        </div>
    </div>
    <div class="position-relative mt-3">
        <img src="@Model.Banner.URL" alt="@Model.Banner.ImageName" class="img-thumbnail">
    </div>

    <button type="button" class="btn btn-primary edit-banner-btn banner-editt" data-id="@Model.Banner.Id">
        ویرایش
    </button>

}
else if (Model.Banner?.IsSuccess == true && Model.Banner.URL == null)
{
    <partial name="_AddPartial" model="Model.AddBanner" />
}


@section Scripts {
    <script>

        $(() => {
            $("#createBanner").on("click", function (e) {
                
                e.preventDefault();
                
                var title = $("#banner-title").val();
                var imageFile = $("#banner-image")[0].files[0];
                if (!title || !imageFile) {
                    showPopup("عنوان و عکس نباید خالی باشند ")
                    return;
                }

                var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                if (!allowedExtensions.exec(imageFile.name)) {
                    showPopup("فرمت تصویر باید jpg، jpeg یا png باشد.")
                    return;
                }

                let formData = new FormData();
                formData.append("Title", title);
                formData.append("Image", imageFile);

                var token = $('input[name="__RequestVerificationToken"]').val();
                if (token) formData.append('__RequestVerificationToken', token);

                var btn = $(this).prop("disabled", true);
                $.ajax({
                    url: '@Url.Page("Index", "CreateBanner")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.success) {
                            location.reload();
                        } else {
                            handleApiError(res);
                            return
                        }
                    },
                    error: function (err) {
                        handleApiError(res);
                        return;
                    }
                });
            });

            $(".edit-banner-btn").on("click", function () {
                var bannerId = $(this).data("id");
                $(this).prop("disabled", true);
                $.ajax({
                    url: '/UserPanels/Admin/SiteSettings/Banners?handler=EditBannerPartial',
                    type: 'GET',
                    data: { id: bannerId },
                    success: function (html) {
                        $("#staticBackdrop .modal-body").html(html); 
                        var modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
                        modal.show();
                    },
                    error: function () {
                        showPopup("خطا در بارگذاری فرم ویرایش!");
                    }
                });
                $(this).prop("disabled", false);

            })

            $(document).on("change", "#input-image-banner-update",function(){
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $("#new-banner-image").attr("src", e.target.result);
                    }
                }
                reader.readAsDataURL(input.files[0]);
            })

            $(document).on("click", "#saveBannerBtn", function () {

                var title = $("#editBannerTitle").val();
                var imageInput = $("#input-image-banner-update")[0];

                if (!title || (!imageInput.files || imageInput.files.length === 0)) {
                    showPopup("عنوان یا عکس نباید خالی باشند");
                    return;
                }

                var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                if (!allowedExtensions.exec(imageInput.name)) {
                    showPopup("فرمت تصویر باید jpg، jpeg یا png باشد.")
                    return;
                }

                var form = $("#editBannerForm")[0];
                var formData = new FormData(form);

                $.ajax({
                    url: '@Url.Page("Index", "EditBanner")',
                    type: 'Post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $("#saveBannerBtn").prop("disabled", true);
                    },
                    success: function (res) {
                        if (res.success) {
                            var modalEl = document.getElementById('staticBackdrop');
                            var modal = bootstrap.Modal.getInstance(modalEl);
                            modal.hide();
                            $("#editBannerForm")[0].reset();
                            location.reload(); 
                        } else {
                            handleApiError(res.error || "خطا در ویرایش");
                        }
                    },
                    error: function () {
                        showPopup("خطایی رخ داده");
                        var modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
                        modal.hide();
                    },
                    complete: function () {
                        $("#saveBannerBtn").prop("disabled", false);
                    }
                });
            });

        });

    </script>
}
