@page "{handler?}"
@using SaharBeautyWeb.Models.Entities.Banners
@model SaharBeautyWeb.Pages.UserPanels.Admin.SiteSettings.Banners.IndexModel
@{
    Layout = "_UserPanelLayout";

}
<link href="~/layout/admin/assets/css/pages/banners/indexbannerstyle.css" rel="stylesheet" />

@if (Model.Banner != null)
{
    @* <div class="d-flex align-items-start">
        <div class="flex-grow-1 overflow-hidden">
            <h5 class="font-size-14 text-truncate">
                <a href="#" class="text-dark">@Model.Banner.Title</a>
            </h5>
            <p class="font-size-13 text-muted mb-0">@Model.Banner.CreateDate</p>
        </div>

    </div>
    <div class="position-relative mt-3">
        <img src="@Model.Banner.URL"
             alt="@Model.Banner.ImageName"
             class="img-thumbnail">
    </div>

    <button type="button" 
        class="btn btn-primary edit-banner-btn banner-editt" 
        data-id="@Model.Banner.Id">
        ویرایش
    </button> *@

    <div class="banner-card container">
        <div class="banner-info text-center">
            <h5 class="banner-title">@Model.Banner.Title</h5>
            <p class="banner-date">@Model.Banner.CreateDate</p>
        </div>

        <div class="banner-image-container">
            <img src="@Model.Banner.URL" alt="@Model.Banner.ImageName" class="banner-image" />
        </div>

        <div class="text-center mt-3">
            <button type="button"
                    class="btn btn-primary edit-banner-btn"
                    data-id="@Model.Banner.Id">
                ویرایش
            </button>
        </div>
    </div>



}
else
{
    <partial name="_AddPartial" model="Model.AddBanner" />
}

@section Scripts {
    <script src="~/layout/admin/assets/js/pages/userpanels/admin/sitesettings/banners/bannerjquery.js"></script>

    <script>
        var createBanner = '@Url.Page("Index", "CreateBanner")';
        var editBannerPartial = '@Url.Page("Index", "EditBannerPartial")';
        var editBanner = '@Url.Page("Index", "EditBanner")';

    </script>
}
