@page "{handler?}"
@using SaharBeautyWeb.Models.Entities.Banners
@model SaharBeautyWeb.Pages.UserPanels.Admin.SiteSettings.Banners.IndexModel
@{
    Layout = "_UserPanelLayout";

}


@if (Model.Banner != null)
{
    <div class="d-flex align-items-start">
        <div class="flex-grow-1 overflow-hidden">
            <h5 class="font-size-14 text-truncate">
                <a href="#" class="text-dark">@Model.Banner.Title</a>
            </h5>
            <p class="font-size-13 text-muted mb-0">@Model.Banner.CreateDate</p>
        </div>
        <div class="flex-shrink-0 ms-2">
            <div class="dropdown">
                <a class="btn btn-link text-muted font-size-16 p-1 py-0 dropdown-toggle shadow-none"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="bx bx-dots-horizontal-rounded">

                    </i>
                </a>
            </div>
        </div>
    </div>
    <div class="position-relative mt-3">
        <img src="@Model.Banner.URL" alt="@Model.Banner.ImageName" class="img-thumbnail">
    </div>

    <button type="button" class="btn btn-primary edit-banner-btn banner-editt" data-id="@Model.Banner.Id">
        ویرایش
    </button>

}
else
{
    <partial name="_AddPartial" model="Model.AddBanner" />
}

@section Scripts {
    <script src="~/layout/admin/assets/js/pages/userpanels/admin/sitesettings/banners/bannerjquery.js"></script>

    <script>
        var createBanner = '@Url.Page("Index", "CreateBanner")';
    </script>
}
