@using SaharBeautyWeb.Models.Commons.Dtos
@using SaharBeautyWeb.Models.Entities.Treatments.Models

@model GetAllTreatmentModel


<div class="table-responsive">
    <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
        <thead>
            <tr class="bg-transparent">
                <th>عنوان خدمت</th>
                <th>توضیحات</th>
                <th>عکس</th>
                <th style="width: 90px;">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Treatments != null && Model.Treatments.Any())
            {
                foreach (var item in Model.Treatments)
                {
                    <tr>
                        <td class="truncate">@item.Title</td>
                        <td><p class="multiline-truncate">@item.Description</p></td>
                        <td>
                            <img class="flex-shrink-0 me-3 rounded-circle"
                                 src="@item.Media?.URL"
                                 alt="@item.Media?.ImageName"
                                 height="36">
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <button class="dropdown-item edit-treatment-btn"
                                                data-id="@item.Id"
                                                href="#">
                                             مشاهده/ ویرایش
                                        </button>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">حذف</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">هیچ داده‌ای یافت نشد</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="dataTableExample_info" role="status" aria-live="polite">
            تعداد کل @Model.TotalElements

        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTableExample_paginate">
            <ul class="pagination">
               
                
                
                <li class="paginate_button page-item previous @(Model.CurrentPage==0 ? "disabled": "")" 
                     id="dataTableExample_previous">
                    <a href="@Url.Page("Index",new {pageNumber=Model.CurrentPage-1})" 
                    aria-controls="dataTableExample" data-dt-idx="0" tabindex="0" class="page-link">
                        قبلی

                    </a>
                </li>

                <li class="paginate_button page-item active">
                    <a  
                    aria-controls="dataTableExample" 
                    data-dt-idx="2" 
                    tabindex="0" 
                    class="page-link active">
                       @(Model.CurrentPage+1)
                    </a>
                </li>
                
                <li class="paginate_button page-item next @(Model.CurrentPage==Model.TotalPages? "disabled": "") "
                    id="dataTableExample_next">
                    <a href="@Url.Page("Index",new {pageNumber=Model.CurrentPage+1})" 
                       aria-controls="dataTableExample" 
                       data-dt-idx="4" 
                       tabindex="0" 
                       class="page-link @(Model.CurrentPage==Model.TotalPages? "disabled": "")">
                        بعدی
                    </a>
                </li>


            </ul>
        </div>
    </div>
</div>